@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('href="https://fonts.googleapis.com/css2?family=Playwrite+BE+WAL:wght@100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    padding: 5% 15%;
}

@media (max-width: 500px){
    .container{
        padding: 0 5%;
    }
}
.playwrite-be-wal h1 {
        font-family: "Playwrite BE WAL", cursive;
        font-optical-sizing: auto;
        font-weight: <weight>;
        font-style: normal;
    }
h2, p{
    font-family: 'Bebas Neue', sans-serif;
}

body{
    cursor: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* CustomCursor.css */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: cover;
    pointer-events: none;
    z-index: 1000;
    background: #fff;
    mix-blend-mode: difference;
    transition: transform 0.3s ease-out;
}

.custom-cursor .zoomed {
    transform: scale3d(1.5);
}